.container{
    background-color:rgb(84, 84, 145);
    color: azure;
}
.menus{
    display: flex;
    justify-content: center;
}
.btn-1{
    color: rgb(128, 128, 165);
    padding-left: 1em;
    margin: 2px solid white;
    margin: 5px;
}
.btn-1 :hover{
    background-color: rgb(151, 144, 247);
}
.img img{
     max-width: 100%;
     height: auto;
}
.textos{
    text-align: center;
    display: flex;
    justify-content: center;
}
.rodape{
    text-align: center;
    display: flex;
    justify-content: center;
}
.rodape p{
    padding-left: 1em ;
}